{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    
    <h1>Books list</h1>
    
    {% for book in books %}
        <a href={{ path('book_item', {id: book.id}) }}>{{ book.title }} : {{ book.price }}</a>
        <br>
    {% endfor %}

{% endblock %}
